<div class="thema-africain-container">
    <h2>Thema / Aficain</h2>

    <p>Offrez-vous le Bouquet Africain ThemaTV à 2€ pour le premier mois.</p>
  
    <p>L'AFRIQUE SUR TOUS VOS ÉCRANS</p>

    <p>Grâce au Bouquet Africain vous pouvez recevoir en France jusqu'à 28 chaînes africaines de télévision de 11 pays d'Afrique. Sans plus attendre découvrez toutes les TV africaines du Bouquet Africain :</p>

    <div class="item">
      <img src="../../assets/svg's/Thema-Image.svg" alt="African Theme Image 1">
    </div>

    <p>Le bouquet inclut également un espace non linéaire +D'AFRIQUE avec des films et des séries africains illimités.</p>

    <p>C’est un catalogue 100% contenus africains inclus et en illimité dans le bouquet africain premium !</p>

    <p>+D'AFRIQUE vous donne accès à un catalogue de + de 1200 titres, avec du divertissement, des films et séries, des programmes jeunesse, des documentaires et reportages sur l'Afrique, mais aussi des concerts d'artistes emblématiques du continent. +D'AFRIQUE vous permet aussi de voir et revoir vos séries et films préférées avec le replay de Novelas TV et de Nollywood TV.</p>

    <p>Demandez à nos conseillers de vente comme accéder au bouquet Africain ThemaTV</p>
</div>