<div class="map-list-view-container">
    <div class="Tab-Buttons-Parent">
    <div class="Tab-Button-Active" routerLink="/mapListView">
      LIST VIEW
    </div>
    <div class="Tab-Button" routerLink="/mapView">
      MAP VIEW
    </div>
    </div>
  
    <div class="Newsfeed-Info-Parent">
 
      <div>
        <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
      </div>
      
      <div class="Info-Section">
        <h4>France</h4>
        <h4>Paris Voltaire</h4>
        <p>344km away from your location</p>
      </div>
  
      <div>
        <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
      </div>
  
      </div>

      <div class="Newsfeed-Info-Parent">
 
        <div>
          <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
        </div>
        
        <div class="Info-Section">
          <h4>France</h4>
          <h4>Paris Voltaire</h4>
          <p>344km away from your location</p>
        </div>
    
        <div>
          <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
        </div>
    
        </div>

        <div class="Newsfeed-Info-Parent">
 
          <div>
            <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
          </div>
          
          <div class="Info-Section">
            <h4>France</h4>
            <h4>Paris Voltaire</h4>
            <p>344km away from your location</p>
          </div>
      
          <div>
            <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
          </div>
      
          </div>

          <div class="Newsfeed-Info-Parent">
 
            <div>
              <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
            </div>
            
            <div class="Info-Section">
              <h4>France</h4>
              <h4>Paris Voltaire</h4>
              <p>344km away from your location</p>
            </div>
        
            <div>
              <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
            </div>
        
            </div>

            <div class="Newsfeed-Info-Parent">
 
              <div>
                <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
              </div>
              
              <div class="Info-Section">
                <h4>France</h4>
                <h4>Paris Voltaire</h4>
                <p>344km away from your location</p>
              </div>
          
              <div>
                <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
              </div>
          
              </div>

              <div class="Newsfeed-Info-Parent">
 
                <div>
                  <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
                </div>
                
                <div class="Info-Section">
                  <h4>France</h4>
                  <h4>Paris Voltaire</h4>
                  <p>344km away from your location</p>
                </div>
            
                <div>
                  <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
                </div>
            
                </div>

                <div class="Newsfeed-Info-Parent">
 
                  <div>
                    <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
                  </div>
                  
                  <div class="Info-Section">
                    <h4>France</h4>
                    <h4>Paris Voltaire</h4>
                    <p>344km away from your location</p>
                  </div>
              
                  <div>
                    <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
                  </div>
              
                  </div>

                  <div class="Newsfeed-Info-Parent">
 
                    <div>
                      <img src="../../assets/svg's/WesternIcon And Bg.svg" alt="African Theme Image 1">
                    </div>
                    
                    <div class="Info-Section">
                      <h4>France</h4>
                      <h4>Paris Voltaire</h4>
                      <p>344km away from your location</p>
                    </div>
                
                    <div>
                      <img src="../../assets/svg's/Settings.svg" alt="African Theme Image 1">
                    </div>
                
                    </div>
</div>