<div class="map-container">
        <div class="Tab-Buttons-Parent">
        <div class="Tab-Button" routerLink="/mapListView">
          LIST VIEW
        </div>
        <div class="Tab-Button-Active" routerLink="/mapView">
          MAP VIEW
        </div>
        </div>

    <iframe src="https://www.google.co.uk/maps/place/48%C2%B051'21.2%22N+2%C2%B022'58.4%22E/@48.8558847,2.3828833,17z/data=!3m1!4b1!4m4!3m3!8m2!3d48.8558847!4d2.3828833?entry=ttu" frameborder="0" allowfullscreen></iframe>
</div>
