<div class="western-union-container">
    <h2>Western Union</h2>

    <p>Western Union est un leader mondial du transfert d'argent depuis 1871.</p>

    <p>A travers le monde, des millions de consommateurs reconnaissent l'enseigne jaune et noire et nous font confiance pour effectuer facilement des transferts rapides et fiables.</p>

    <p>Vous pouvez envoyer et recevoir de l'argent en quelques minutes vers plus de 200 pays et territoires dans nos points de vente Western Union - Interchange.</p>

    <p>Aussi, sur l'appli Western Union, vous pouvez démarrer votre transaction et payer en agence.</p>
    
    <p>Nos conseillers en agence sont à votre disposition pour vous accompagner sur l'appli Western Union.</p>
</div>