// Font Colors
// Headings
$primary-color: #F08014;
$secondary-color: #ffffff;
$Third-color: #686870;

// Paragraphs
$paragraph-primary-color: #ffffff;
$paragraph-secondary-color: #686870;
$paragraph-third-color: #F08014;
// Font Colors
 
// Background Colors
$primary-background-color: #222126;
$secondary-background-color: #F08014;
$Third-background-color: #686870;
$Fourth-background-color: #000000;
// Background Colors

// Status Background Colors
$primary-status-background-color: #686870;
$secondary-status-background-color: #F08014;
$Third-status-background-color: #F0B214;
$Fourth-status-background-color: #E5E4E2;
// Status Background Colors