<div class="profile-container">

    <div style="display: flex;padding: 1em 1em 1em 1em;"> 
        <div style="width: 1.2em;">
            <img style="width: 1.2em;" src="../../assets/svg's/Back Arrow.svg" alt="African Theme Image 1">
        </div>
        <div style="display: flex;width: 100%;flex-direction: column;align-items: center;">
          <div>
            <img style="width: 9em;" src="../../assets/svg's/user-svgrepo-com.svg" alt="African Theme Image 1">
          </div>
          <div>
            <h2 style="margin: 0;">Jonathan Davis</h2>
          </div>
          <div>
            <h2 style="margin: 0;">+27 73 132 2285</h2>
          </div>
        </div>
        <div style="width: 1.2em;">
            <img style="width: 1.2em;height: 1.2em;" src="../../assets/svg's/Profile Settings.svg" alt="African Theme Image 1">
        </div>
    </div>

    <div class="Space-Div" style="background-color: black;height: 1em;"></div>

   <div style="display: flex;padding: 1em;border-bottom: 1px solid gray;">
    <div style="width: 100%;display: flex;flex-direction: column;align-items: center;">
      <div>
        <img style="width: 1.5em;" src="../../assets/svg's/User-Orange.svg" alt="African Theme Image 1">
      </div>
      <div>
        <p style="margin: 0;" class="Selected-Tab">User Info</p>
      </div>
    </div>
    <div style="width: 100%;display: flex;flex-direction: column;align-items: center;">
        <div>
            <img style="width: 1.5em;" src="../../assets/svg's/password-svgrepo-com-gray.svg" alt="African Theme Image 1">
        </div>
        <div>
          <p style="margin: 0;">Login Details</p>
        </div>
    </div>
    <div style="width: 100%;display: flex;flex-direction: column;align-items: center;">
        <div>
            <img style="width: 1.5em;" src="../../assets/svg's/medal-solid-svgrepo-com 1.svg" alt="African Theme Image 1">
        </div>
        <div>
          <p style="margin: 0;">Your Status</p>
        </div>
    </div>
    <div style="width: 100%;display: flex;flex-direction: column;align-items: center;">
        <div>
            <img style="width: 1.5em;" src="../../assets/svg's/credit-card-svgrepo-com 1-gray.svg" alt="African Theme Image 1">
        </div>
        <div>
          <p style="margin: 0;">Transactions</p>
        </div>
    </div>
   </div>

</div>