<div class="home-container">

<div class="Status-Godfather">
  <div class="Status-Parent">
    <div class="Status-Info">

      <div class="Status-Image-Parent">
        <img class="Status-Icon" src="../../assets/svg's/medal-solid-svgrepo-com 1.svg" alt="Status Badge Icon">
      </div>
      
      <div class="Status-Info-Text-Parent">
        <h2>You Have 1 Point On Your Account - You Are Just 9 Points Away From Gold Status</h2>
      </div>
      
      <div class="Status-Info-Text-Button-Parent" routerLink="/register">
        <button class="button-2" type="submit">View</button>
      </div>

    </div>
  </div>
</div>

<div class="Progress-Bar-Parent">
  <div class="Progress-Status-Parent">
    <div class="Silver-Status">
      <h2>1</h2>
    </div>
    <h2 class="Progress-Status-Text">Silver</h2>
  </div>
  <div class="Progress-Status-Parent">
    <div class="Orange-Status">
      <h2>5</h2>
    </div>
  </div>
  <div class="Progress-Status-Parent">
    <div class="Gold-Status">
      <h2>10</h2>
    </div>
    <h2 class="Progress-Status-Text">Gold</h2>
  </div>
  <div class="Progress-Status-Parent">
    <div class="Orange-Status">
      <h2>12</h2>
    </div>
  </div>
  <div class="Progress-Status-Parent">
    <div class="Platinum-Status">
      <h2>15</h2>
    </div>
    <h2 class="Progress-Status-Text">Platinum</h2>
  </div>
</div>
<div class="progress-line"></div>

    <div class="Grid-Parent">
    <div class="Home-Icons-Parent">
        <div class="Grid-Spacing" routerLink="/mapListView">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Location-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Find A Branch</p>
        </div>
        <div class="Grid-Spacing" routerLink="/orderCurrencies">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Order-Currencies-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Order Currencies Online</p>
        </div>
        <div class="Grid-Spacing" routerLink="/currencyBuyback">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Currency-Buyback-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Currency Buyback</p>
        </div>
    </div>

    <div class="Home-Icons-Parent">
        <div class="Grid-Spacing" routerLink="/themaAficain">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Thema-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Thema/ Aficain</p>
        </div>
        <div class="Grid-Spacing" routerLink="/orangeHolidayEurope">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Orange-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Orange Holiday Europe</p>
        </div>
        <div class="Grid-Spacing" routerLink="/westernUnion">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Western-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Western Union</p>
        </div>
    </div>

    <div class="Home-Icons-Parent">
        <div class="Grid-Spacing" routerLink="/interChance">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Inter-Chance-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Inter Chance</p>
        </div>
        <div class="Grid-Spacing" routerLink="/splashScreen">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Online-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Online Shop/Cashback</p>
        </div>
        <div class="Grid-Spacing" routerLink="/referer">
            <div class="Icon-Div">
                <img class="Icon-Img" src="../../assets/svg's/Home-Referer-Icon.svg" alt="African Theme Image 1">
              </div>
            <p>Referer</p>
        </div>
    </div>
    </div>

    
    <!-- <p routerLink="/splashScreen">Splash</p>
    <p routerLink="/login">Login</p>
    <p routerLink="/register">Register</p> -->
</div>
  